[submodule "NotificationService"]
	path = NotificationService
	url = https://github.com/medegor44/NotificationService
[submodule "SocialNetwork"]
	path = SocialNetwork
	url = https://github.com/medegor44/SocialNetwork
